# OS
.DS_Store

# IDEs and editors
.idea
.vscode

# large file
*.svg
*.pdf
*.png
*.csv
*.parquet
*.zip

# log from hydra
outputs
notebook
data
out/

!feature_params.yaml
!filter_params.yaml
!model_params.yaml
!path.yaml
*.yaml

__pycache__